.calendar-side-container {
    background-color: white;
    margin-top: 30px;
}

.datepicker-container {
    margin-right:150px;
}

input {
    width: 22px;
    margin-top: 4px;
    text-align: center;
    font-size: 10px;

}

.button {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 16px;

}
p{
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
p-toast {
  position: fixed;
  z-index: 11000;
  top: 10px;
}
.commentaire-pair {
  display: flex;
  gap: 2rem;
}

.commentaire-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}