<div class="auth-wrapper custom-bg">
  <div class="auth-content">

    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4">{{ 'SIGN_UP' | translate }}</h3>

        <div class="row mb-3">
          <div class="col">
            <input type="username" class="form-control small-placeholder" placeholder="{{ 'USERNAME' | translate }}" [(ngModel)]="registerData.username"/>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control small-placeholder" placeholder="{{ 'FULLNAME' | translate }}" [(ngModel)]="registerData.fullname"/>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col position-relative">
            <input type="password" class="form-control small-placeholder" placeholder="{{ 'PASSWORD' | translate }}" id="password" [(ngModel)]="registerData.password"/>
            <i class="feather icon-eye position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%);"
              *ngIf="passwordVisible" (click)="togglePasswordVisibility('password')"></i>
            <i class="feather icon-eye-off position-absolute"
              style="right: 10px; top: 50%; transform: translateY(-50%);" *ngIf="!passwordVisible"
              (click)="togglePasswordVisibility('password')"></i>
          </div>
          <div class="col position-relative">
            <input type="password" class="form-control small-placeholder" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"
              id="confirm-password" [(ngModel)]="registerData.confirmPassword"/>
            <i class="feather icon-eye position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%);"
              *ngIf="confirmPasswordVisible" (click)="togglePasswordVisibility('confirm-password')"></i>
            <i class="feather icon-eye-off position-absolute"
              style="right: 10px; top: 50%; transform: translateY(-50%);" *ngIf="!confirmPasswordVisible"
              (click)="togglePasswordVisibility('confirm-password')"></i>
          </div>
        </div>

        <button class="btn btn-primary shadow-2 mb-4" (click)="register()">{{ 'SIGN_UP' | translate }}</button>
        <p class="mb-0 text-muted">
          {{ 'ALREADY_HAVE_ACCOUNT' | translate }}
          <a [routerLink]="['/auth/signin']">{{ 'LOG_IN' | translate }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
