.custom-bg {
    background: url('../../../../../assets/images/resetpassword.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  .small-placeholder::placeholder {
    font-size: 12px; 
  }