<div class="auth-wrapper custom-bg">
  <div class="auth-content">

    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-refresh-cw auth-icon"></i>
        </div>
        <h3 class="mb-4">Reset Password</h3>
        <div class="input-group mb-3">
          <div class="col position-relative">
            <input type="password" class="form-control small-placeholder" placeholder="Password" id="password" [(ngModel)]="resetData.newPassword" />
            <i class="feather icon-eye position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%);"
              *ngIf="passwordVisible" (click)="togglePasswordVisibility('password')"></i>
            <i class="feather icon-eye-off position-absolute"
              style="right: 10px; top: 50%; transform: translateY(-50%);" *ngIf="!passwordVisible"
              (click)="togglePasswordVisibility('password')"></i>
          </div>
        </div>
        <div class="input-group mb-3">
          <div class="col position-relative">
            <input type="password" class="form-control small-placeholder" placeholder="Confirm Password"
              id="confirm-password" [(ngModel)]="resetData.confirmNewPassword"/>
            <i class="feather icon-eye position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%);"
              *ngIf="confirmPasswordVisible" (click)="togglePasswordVisibility('confirm-password')"></i>
            <i class="feather icon-eye-off position-absolute"
              style="right: 10px; top: 50%; transform: translateY(-50%);" *ngIf="!confirmPasswordVisible"
              (click)="togglePasswordVisibility('confirm-password')"></i>
          </div>
        </div>


        <button class="btn btn-primary mb-4" (click)="resetPassword()">Reset</button>
        <p class="mb-2 text-muted">
          Already have an account?
          <a [routerLink]="['/auth/signin']">Sign in</a>
        </p>
        <p class="mb-0 text-muted">
          Don’t have an account?
          <a [routerLink]="['/auth/signup']">Sign up</a>
        </p>
      </div>
    </div>
  </div>
</div>