.language-dropdown-wrapper {
  
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 20px;
  

  .left {
    position: absolute;
    left: 20px;
  }

  .right {
    position: absolute;
    right: 60px;
    top: -5px;
  }
}
