<div class="home-container">
  <!-- En-tête -->
  <header class="header">
    <h1>Welcome to Time Bill</h1>
    <p>Manage resources, roles, and cra efficiently.</p>
  </header>

  <!-- Navigation rapide -->
  <div class="quick-navigation">
    <p-card class="nav-card" [style]="{ width: '18rem' }">
      <ng-template #header>
        <i class="pi pi-users nav-icon"></i>
      </ng-template>
      <ng-template #title>Manage Resources</ng-template>
      <ng-template #content>
        <p>View, edit, and manage all registered users.</p>
      </ng-template>
      <ng-template #footer>
        <p-button label="Go" icon="pi pi-arrow-right" class="p-button-primary" routerLink="/resource"></p-button>
      </ng-template>
    </p-card>

    <p-card class="nav-card" [style]="{ width: '18rem' }">
      <ng-template #header>
        <i class="pi pi-key nav-icon"></i>
      </ng-template>
      <ng-template #title>Manage Roles</ng-template>
      <ng-template #content>
        <p>Assign and manage roles for users.</p>
      </ng-template>
      <ng-template #footer>
        <p-button label="Go" icon="pi pi-arrow-right" class="p-button-primary" routerLink="/roles"></p-button>
      </ng-template>
    </p-card>

    <p-card class="nav-card" [style]="{ width: '18rem' }">
      <ng-template #header>
        <i class="pi pi-cog nav-icon"></i>
      </ng-template>
      <ng-template #title>Manage Resources</ng-template>
      <ng-template #content>
        <p>View and manage application resources.</p>
      </ng-template>
      <ng-template #footer>
        <p-button label="Go" icon="pi pi-arrow-right" class="p-button-primary" routerLink="/resources"></p-button>
      </ng-template>
    </p-card>
  </div>

  