<div class="dashboard-container">
  <div class="p-grid">
    <div class="p-col-12 p-md-6 small-chart">
      <p-card header="{{ 'CRA_STATISTICS' | translate }}">
        <p-chart type="pie" [data]="craStatusChartData"></p-chart>
      </p-card>
    </div>
    <div class="p-col-12 p-md-6 small-chart">
      <p-card header="{{ 'ABSENCES_STATISTICS' | translate }}">
        <p-chart type="doughnut" [data]="absenceStatusChartData"></p-chart>
      </p-card>
    </div>

    <div class="p-col-12 p-md-6 small-chart">
      <p-card header="{{ 'INVOICES_STATISTICS' | translate }}">
        <p-chart type="doughnut" [data]="factureByStatusChartData"></p-chart>
      </p-card>
    </div>
    <div class="p-col-12 p-md-6 small-chart">
      <p-card header="{{ 'USER_STATISTICS' | translate }}">
        <p-chart type="bar" [data]="userStatusChartData" [options]="userStatusChartOptions"></p-chart>
      </p-card>
    </div>
    </div>

    <div class="p-col-12 line-full-width">
      <p-card header="{{ 'evolution_factures_absences_cras' | translate }}">
        <p-chart type="line" [data]="lineChartData" [options]="lineChartOptions"></p-chart>
      </p-card>
    </div>
  </div>
