<div class="auth-wrapper custom-bg">
    <div class="auth-content">
  
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-check-circle auth-icon"></i>
          </div>
          <h3 class="mb-4">Compte activation</h3>
          <p> Welcome to Time Bill</p>
          <p>Your account is activated</p>
          
        <!--  <button class="btn btn-primary mb-4" >Login</button>-->
          
        </div>
      </div>
    </div>
  </div>
