<div class="auth-wrapper custom-bg">
    <div class="auth-content">
     
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-4">
            <i class="feather icon-lock auth-icon"></i>
          </div>
          <h3 class="mb-4">{{ 'Forgot password' | translate }}</h3>
          <div class="input-group mb-3">
            <input type="email" class="form-control small-placeholder" placeholder="{{ 'USERNAME' | translate }}" [(ngModel)]="username"/>
          </div>
          <button class="btn btn-primary mb-4" (click)="requestPasswordReset()" >{{ 'SEND' | translate }}</button>
          <p class="mb-2 text-muted">
            {{ 'ALREADY_HAVE_ACCOUNT' | translate }}
            <a [routerLink]="['/auth/signin']"> {{'LOGIN' | translate }}</a>
          </p>
          <p class="mb-0 text-muted">
            {{ 'NO_ACCOUNT' | translate }}
            <a [routerLink]="['/auth/signup']">{{ 'SIGN_UP' | translate }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
